body{
	background-color: #4A4D45;
	width: 1000px;
	margin:auto;
}

header{ 
	width: 100%;
	height:	300px;
	border-radius: 10px 10px 1px 1px;
	margin-top: 10px;
}
.banco{
	margin-left: 0px;
	margin-top: 0px;
	width:1000px;
	height:300px;
}

nav{
	background-color:black;
	color: white;
	width: 100%;
	height:	100px;
	border-radius:	1px 1px 10px 10px;
	text-align: center;
}
.menu1{
	background-color: #FFC307;
}

.menu{
	float: left;
	margin-left: 100px;
	color:black;
	font-size: 25px;
	margin-top: 30px;
}

aside{
	margin-top: 10px;
	width: 430px;
	height:	730px;
	border-radius: 10px;
	float: left; 
}
.ingresa{
	float: left;
	margin-bottom: 10px;
	width: 410px;
	height: 20px;
	background-color: black;
	border-radius: 20px 20px 0px 0px;
	font-family: arial;
	font-size: 20px;
	padding: 10px
}
#ar1{
	width:auto;
	height: 335px;
	background-color: grey;
}
#ar2{
	padding: 5px;
	width: auto;
	height: 345px;
	background-color: #1c1c1c;
	margin-top: 10px;
	color: grey;
	text-align: center;
	font-size: 14px;
}
hr{
	width: 300px;
	height:1px;
	border:0;
	color:black;
	background-color: grey;
}

section{
	margin-top: 10px;
	width: 560px;
	height:	720px;
	float: right;
	margin-bottom: 10px
}
article{
	width: 275px;
	height: 355px;
	background-color: grey;
}
.nav1{
	width: 275px;
	height: 40px;
	float: left;
	border-radius: 20px 0px 0px 0px;
}
.nav2{
	width: 275px;
	height: 40px;
	float: right;
	border-radius: 0px 20px 0px 0px;
}
#nav3{
	border-radius: 0px 0px 0px 0px;
}
#a1{
	float: left;
	margin-bottom: 10px;
	border-radius: 20px 0px 0px 0px;
}
#a2{
	float: right;
	margin-bottom: 10px;
	border-radius: 0px 20px 0px 0px;
}
input{
	width: 160px;
	height: 25px;
	float: right;
	margin-right: 100px;
	margin-bottom: 30px;
	margin-top: 10px;
}
label{
	margin-bottom: 30px;
	float: left;
	width: 150px;
	text-align: center;
	margin-top: 10px;
	font-family: arial;
	font-size: 25px;
}
#boton{
	width: 80px;
	color: black;
	margin-right:180px;
	background-color: yellow;
	margin-top: 10px;
	float: right;
	margin-left: 80px;
}

#a3{
	float: left;
	border-radius: 0px 0px 0px 20px;
}
#a4{
	float: right;
	border-radius: 0px 0px 20px 0px;	
}

footer{
	clear:both;
	background-color:black;
	width: 100%;
	height:	100px;
	border-radius:	1px 1px 10px 10px;
	/*margin: auto;*/
	margin-top: 8px;
	color: white;
	margin-bottom: 10px;
	clear: both;
	text-align: center;
	font-family: arial;
	font-size: 14px;
	white-space: normal;

}
img{
	margin-top: 10px;
	margin-left: 5px;
	width: 265px;
	height: 150px;
}
#box-nav{
	margin-left: -5px;
	margin-top: -5px;
	width:430px;
	height:30px;
	background:black;
	border-radius: 0px 0px 0px 0px;
	color: yellow;
}
#box-nav2{
	margin-left: -5px;
	margin-top: -5px;
	width:430px;
	height:30px;
	background:black;
	border-radius: 0px 0px 0px 0px;
	color: yellow;
}
.texto{

	text-align: center;
}